.progress-container {
	background-color: white;
	height: 20px;
	width: 100%;
	border-radius: 10px;
	padding: 1.5px;
}

.progress-inside {
	background: #1fe000;
	height: 100%;
	width: 50%;
	border-radius: 10px;
}
