/*------ Settings ------*/
.container-showhide {
	--color: #a5a5b0;
	--size: 22px;
	position: relative;
	cursor: pointer;
	font-size: var(--size);
	user-select: none;
}

.container-showhide .eye {
	position: absolute;
	right: 18%;
	top: -46px;
	height: var(--size);
	animation: keyframes-fill 0.5s;
	color: var(--color);
}

.container-showhide .eye-slash {
	position: absolute;
	right: 18%;
	top: -46px;
	animation: keyframes-fill 0.3s;
	display: none;
	color: var(--color);
}

/*------ Animation ------*/
@keyframes keyframes-fill {
	0% {
		transform: scale(0);
		opacity: 0;
	}

	50% {
		transform: scale(1.2);
	}
}
