.user-score-container {
	border: 1px solid black;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	height: 100%;
}

.user-score-container p {
	font-family: Inter;
	font-size: 20px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
}

@media (max-width: 576px) {
	.user-score-container {
		max-height: 30px;
	}
}

@media (min-width: 576px) {
	.user-score-container {
		max-height: 30px;
	}
}

@media (min-width: 768px) {
	.user-score-container {
		max-height: 40px;
	}
}
