.card-add {
	margin: 0 auto;
	align-items: center;
	max-width: 800px;
	width: 100%;
	border-radius: 14px;
	padding: 20px;
	text-align: center;
	background: rgba(255, 255, 255, 0.8);
	box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25),
		0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.text-add {
	box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.5);
	opacity: 0.5;
}

.container-add-input {
	padding-top: 10px;
	margin: 20px 0;
}

.text-add,
.grid-item {
	width: 100%;
	padding: 20px;
	border: 1px solid #ccc;
	border-radius: 14px;
	margin: 10px 0;
	font-size: larger;
}

.container-grid {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-gap: 20px;
}

.grid-item {
	background-color: #fff;
	opacity: 0.8;
	padding: 20px;
	text-align: center;
	border-radius: 14px;
	box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.5);
	background-size: 38px 38px;
	background-repeat: no-repeat;
	padding-left: 10px;
	background-position: left 10px bottom 10px;
}

.img-bg-1 {
	background-image: url("../../assets/book.png");
}

.img-bg-2 {
	background-image: url("../../assets/square-root.png");
}

.img-bg-3 {
	background-image: url("../../assets/poker-chip.png");
}

.img-bg-4 {
	background-image: url("../../assets/movie-camera.png");
}

.centered-button {
	padding-top: 6vh;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: large;
}

.container-add {
	padding-top: 12vh;
}

.button-add {
	color: white;
	background-color: #4274ea;
	max-width: 600px;
	box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.5);
	border: none;
	margin: 10px 0;
	padding: 15px;
	width: 70%;
}
