.title-worldscore {
	color: white;
	text-align: center;
	font-family: "Titan One";
	font-size: 50px;
}

.card-worldscore-1 {
	margin: 0 auto;
	width: 80%;
	height: aito;
	border-radius: 14px;
	background: rgba(255, 255, 255, 0.377);
	box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25),
		0px 4px 4px 0px rgba(0, 0, 0, 0.25);
	padding: 20px 0;
}

.card-worldscore-2 {
	padding: 20px 0;
	width: 80%;
	height: auto;
	margin: 0 auto;
	border-radius: 14px;
	/* background: #bd79b6; */
	background: var(--mo-main-500);
	box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25),
		0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.card-worldscore-3 {
	padding: 0;
	width: 70%;
	height: auto;
	margin: 0 auto;
	border-radius: 14px;
	background: #ffffff00;
	overflow: hidden;
}

.img-medals {
	width: 40px;
	height: auto;
}

.img-profile-worldscore {
	width: 35px;
	height: auto;
}

.img-trophy {
	width: 80px;
	height: 80px;
}

.card-worldscore-3 table {
	--bs-table-bg: #f2beff;
	--bs-table-hover-bg: #ea96ff;
	--bs-table-border-color: #f2beff;
}

@media (max-width: 576px) {
	.title-worldscore {
		font-size: 30px;
	}
	.card-worldscore-1 {
		padding: 15px 0;
	}
	.card-worldscore-2 {
		padding: 0;
		width: 90%;
		box-shadow: none;
	}
	.card-worldscore-3 {
		width: 100%;
	}
}
