:root {
	--mo-main-50: #f1f0ff;
	--mo-main-100: #e9e5ff;
	--mo-main-200: #d6d1ff;
	--mo-main-300: #b5a8ff;
	--mo-main-400: #977aff;
	--mo-main-500: #7b42ff;
	--mo-main-600: #6e1aff;
	--mo-main-700: #6408f7;
	--mo-main-800: #5707cf;
	--mo-main-900: #4a08a6;
	--mo-main-950: #2f0174;
	--mo-main-1000: #07182e;

	--mo-table-role-admin: #a949e8;
	--mo-table-role-user: #350364;

	--mo-nav-background: #6e36b4;

	--mo-font-cyan: #00ced1;
	--mo-font-pink: #ff69b4;

	--mo-thumb-bg: #bd79b693; /* bd79b6 */
	--mo-thumb-bg-hover: #b169bbef; /* b169bb */

	--mo-progressbar-outer: white;
	--mo-progressbar-inner: #1fe000;

	--mo-answer-selected-bg: #1fe000;

	--mo-button-darker: #350363;

	/* --font-lightest: #f1f0ff;
	--font-lighter: #e9e5ff;
	--font-light: #d6d1ff;
	--main-mid: #b5a8ff;
	--main-dark: #977aff;
	--main-darker: #7b42ff;
	--main-darkest: #6e1aff;
	--accent-deep: #6408f7;
	--accent-deeper: #5707cf;
	--accent-deepest: #4a08a6;
	--custom-ultra: #2f0174;

	--nav-background: #6e36b4;

	--blue-cyan: #00ced1;
	--hover-text: #ff69b4;

	--button-darker: #350363; */
}
