:root {
	--font-lightest: #f1f0ff;
	--font-lighter: #e9e5ff;
	--font-light: #d6d1ff;
	--main-mid: #b5a8ff;
	--main-dark: #977aff;
	--main-darker: #7b42ff;
	--main-darkest: #6e1aff;
	--accent-deep: #6408f7;
	--accent-deeper: #5707cf;
	--accent-deepest: #4a08a6;
	--custom-ultra: #2f0174;

	--contrast-deep: #07182e;

	--nav-background: #6e36b4;

	--blue-cyan: #00ced1;
	--hover-text: #ff69b4;

	--button-darker: #350363;
}
