:root {
	--main-lightest: #f1f0ff;
	--main-lighter: #e9e5ff;
	--main-light: #d6d1ff;
	--main-mid: #b5a8ff;
	--main-dark: #977aff;
	--main-darker: #7b42ff;
	--main-darkest: #6e1aff;
	--accent-deep: #6408f7;
	--accent-deeper: #5707cf;
	--accent-deepest: #4a08a6;
	--custom-ultra: #2f0174;
}
