@import url("https://fonts.googleapis.com/css2?family=Lalezar&family=Moo+Lah+Lah&display=swap");

::-webkit-scrollbar-thumb {
	background-color: #bd79b6;
	border-radius: 6px;
}

::-webkit-scrollbar {
	width: 12px;
}
